/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */
*{
    margin: 0;
    padding: 0;
}
.azeret-mono{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}



/* NAV Section Styles */
.header{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: None;
}

.btn{
    padding: 17px 24px;
    border: 1px solid rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    background-color:white;
    border-radius: 8px;
}

.btn:hover{
    background-color:tomato;
    color: aliceblue;
}

/* Main Section */

.banner{
    text-align: center;
    background-image: url('../assets/Hero-bg.png');
    height: 652px;
    align-items: center;
    border: 2px dashed rgba(0, 0, 0, 0.74);
    margin-top: 25px;
    padding: 25px;
}

.banner-content{
    width: 998px;
    margin: 0 auto;
}

.banner-title{
    padding:25px 0;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
}

.banner-description{
    margin-bottom: 32px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 700px;
    margin: 0 auto;
}
.btn-primary{
    margin-top: 20px;
    background-color: rgb(13, 19, 33);
    padding: 15px 45px;
    color: white;
    border-radius: 8px;
}

/* About Section */

.about{
    margin: 100px auto;
    text-align: center;
    padding: 80px 100px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    width: 946px;
}

.about-title h1{
    margin: 20px 0;
}

.abouts-content{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 16px;
    padding:25px;
    justify-content: space-around;
    margin: 20px 0;
}

.left-content{
    width: 477px;
    text-align: left;
    font-weight:400;
    font-size:15px;
    line-height: 20px;
}

.left-content h4{
    width:477px;  font-size: 22px;
    font-weight: 700;
    line-height: 36px;
    color: rgba(13, 19, 33, 0.7);
    margin: 16px 0;
}

.right-content{
    width: 477px;
    text-align: left;
    font-weight:400;
    font-size:15px;
    line-height: 20px;
}
.right-content h4{
    font-size: 22px;
    font-weight:700;
    line-height: 36px;
    color: rgba(13, 19, 33, 0.7);
    margin: 16px 0;
}

.about-right{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 16px;
    padding:25px;
    margin: 20px 0;
    justify-content: space-around;
}

.btn-about{
    border: 1px solid rgba(13, 19, 33, 0.7);;
    padding: 12px 20px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
    background-color: #fff;
    color: rgba(13, 19, 33, 0.7);
}

/* inspiration section */

.inspiration{
   margin: 0 auto;
   text-align: center;
   width: 1140px;
}

.ins-content{
    width:852px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin: 0 auto;
}

.ins-content h1{
    margin-bottom: 20px;
}

.video{
    border: 1px solid black;
    padding: 32px;
    border-radius: 5px;
    margin: 48px 0;
    width: 1076px;
}

iframe{
    border-radius: 10px;
}

/* Skill Container */

.skills{
    width: 1140px;
    margin: 150px auto;
}
.text-center{
    text-align: center;
    margin: 40px 0;
}

.section-des{
    margin-top: 15px;
}
.skill-container{
    display: flex;
    gap: 20px;
    align-items: center;
}

.skill{
    width: 284px;
    height: 220px;
    padding: 40px;
    background-color: rgba(255, 76, 30, 0.05);
    border-radius: 16px;
}

.skill-2{
    width: 284px;
    height: 220px;
    padding: 40px;
    background-color: rgba(0, 76, 232, 0.05);
    border-radius: 16px;
}

.skill-title{
    margin: 10px 0;
}

.skill-description{
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 15px;
}

.skill a{
    color: Black;
}

.skill-2 a{
    color: Black;
}

/* Footer Section */

.contact{
    width: 1044px;
    height: 250px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.363), rgba(0, 0, 0, 0.669)),url('/assets/handshake.jpg');
    margin: 0 auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
}

.Support{
    text-align: center;
    padding: 64px 48px;
    color: #fff;
}

.Support p{
    margin: 20px 0;
    font-size: 12px;
}


